---
import type { HomepagePostsQuery } from "../interfaces/homepagePostQuery";
import CardPost from "./CardPost.astro";

interface Props {
  posts: object;
}

const { posts } = Astro.props as HomepagePostsQuery;
---

<div class='grid gap-8 sm:grid-cols-2 lg:grid-cols-3'>
  {
    posts.nodes.map((post) => {
      return (
        <CardPost
          title={post.title}
          uri={post.uri}
          excerpt={post.excerpt}
          image={post.featuredImage.node}
        />
      );
    })
  }
</div>
